body {
    background: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Concert One', cursive;
}

@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px); }
    50% { transform: translate(5px); }
    75% { transform: translate(-5px); }
    100% { transform: translate(0); }
}

.color-change {
    filter: hue-rotate(120deg); /* Change this value to adjust the color */
    transition: filter 0.5s; /* Smooth transition */
}

.shake {
    animation: shake 0.5s; /* Adjust duration as needed */
}

a {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4);
    padding: 1%;
    /*
    border: 10px solid #86d9ff;
    border-radius: 50px;
    box-shadow: 0px 0px 100px #03A9F4;
    font-size: 4vh;
    color:hsl(187, 100%, 42%);
    margin: 2px;
    transition: 0.3s;*/
}

a:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px #03A9F4;
    color: black;
}

#preload {
    display: none;
}

#gameover a {
    font-size: 5vh;
    padding: 1.5%;
    border: 10px solid #e80000;
    box-shadow: 0px 0px 100px #ff0000;
    color: white;
    transition: 0.3s;
}

#gamewin a {
    font-size: 5vh;
    padding: 1.5%;
    border: 5px solid #00e800;
    box-shadow: 0px 0px 100px #00ff00;
    color: white;
    transition: 0.3s;
}


#gamewin a:hover, #gameover a:hover {
    color: black;
}



#monster-start, #monster-die {

}

#player-start, #player-die {
 
}



#game {
    display: none;
    position: fixed;
    width: 99%;
    height: 96%;
    background: rgba(87, 87, 87, 0.5);
     /*
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCtnlHqbgt2zXojJ4QXB22YaT_cNU5LEA87Q&s");
    background-repeat: no-repeat, repeat;
    text-align: center;
    background-size: cover; 
    background-position: center; 
   
    background-image: ;
    
    border: 10px solid #86d9ff;
    border-radius: 50px;
    box-shadow: 0px 0px 100px #03A9F4;*/
}

.mylevel {
    margin-top: 2vmax;
}

.rightturn {
    display: inline-block;
    color: white;
    width: 2%;
    margin-bottom: 3%;
    font-size: 2vmax;
}

.rightturn:hover {
    color: black;
}

#statusmode {
    display: inline-block;
    color: black;
    width: 10%;
    font-size: 2vmax;
    /*
    background: #00a800;
    border: 1.5vmin solid white;
    border-radius: 50px;
    margin: 1%;
    transition: 0.5s;*/
}

#statusmode:hover {
    border: 0vmin solid white;
}

#statusmode[mode="easy"] {
    background: #00a800;
}

#statusmode[mode="medium"] {
    background: #e6e62e;
}

#statusmode[mode="hard"] {
    background: #bd1010;
}

#statusmode[mode="expert"] {
    background: linear-gradient(to right, #00a800, #e6e62e, #bd1010);
}

#mainmenu {
    display: none;
    position: fixed;
    top: calc(50% - 40vh);
    left: 20%;
    width: 60%;
    height: 80vh;
    background: rgba(1, 0, 0, 0.5);
    text-align: center;
    /*
    border: 10px solid #86d9ff;
    border-radius: 50px;
    box-shadow: 0px 0px 100px #03A9F4;*/
}

#menu {
    margin-top: 50vh;
}


.mainlogo {
    width: 70%;
    height: 40%;
    position: absolute;
    left: 15%;
    top: 15vh;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    text-align: left;
    font-size: 1.25vmax;
    margin: 7% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 60%;
    position: relative;
    /*
    border: 10px solid #86d9ff;
    border-radius: 50px;
    box-shadow: 0px 0px 100px #03A9F4;
    position: relative;
    transition: all .5s ease-in-out;*/
}

.popup h1 {
    text-align: center;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
}

.popup .close:hover {
    color: #F00;
}

#startdelay {
    font-size: 20vmax;
    color: white;
    position: absolute;
    left: calc(50% - 4.5vmax);
    top: calc(50% - 12vmax);
    animation: titletime 1s infinite ease-in-out;
}

@keyframes titletime {
    from {opacity: 0;}
    to {opacity: 1;}
}

#gamewin {
    display: none;
    position: fixed;
    width: 97%;
    height: 92%;
    background: rgba(87, 87, 87, 0.5);
    text-align: center;
    border: 10px solid #8fff86;
    /*border-radius: 50px;*/
    box-shadow: 0px 0px 100px #42f403;
    /*font-size: 4vmax;*/
}

.win {
    color: white;
    text-shadow: 0px 0px 250px #00ef00;
    font-size: 5vmax;
}

#gameover {
    display: none;
    position: fixed;
    width: 97%;
    height: 92%;
    background: rgba(87, 87, 87, 0.5);
    text-align: center;
    border: 10px solid #ff8686;
    /*border-radius: 50px;*/
    box-shadow: 0px 0px 100px #f40303;
}

.lose {
    color: white;
    text-shadow: 0px 0px 250px #ef0000;
    font-size: 5vmax;
}


.menuLogo {
    width: 9%;
    height: 4vh;
    margin-top: -1vh;
    margin-left: 92vh;
}

.healthBar {
    position: absolute;
    top:2vmax;
    left: calc(78% - 13vmax);
}

.bossHp {
    color: white;
    position: absolute;
    font-size: 1.5vmax;
    top: 0vmax;
    left: -4vmax;
}

.healthBg {
    position: relative;
    height: 2vmax;
    width: 30vmax;
    background: black;
    left: calc(50% - 12vmax);
}

.health {
    position: relative;
    top: calc(50% - 0.75vmax);
    left: calc(50% - 14.5vmax);
    background: #ae0000;
    height: 1.5vmax;
    max-width: 29.1vmax;
    width: 100%;
    transition: 1s ease-in-out;
}

.images {
    display: flex;          /* Use flexbox to control the layout */
    justify-content: space-between; /* Add space between the images */
    align-items: center;    /* Center the images vertically */              /* Optional: You can use `gap` to control the spacing */
}

.images img {
    width: auto;            /* Optional: Adjust width if needed */
    height: auto;           /* Optional: Adjust height if needed */
    margin: 60px 180px;         /* Horizontal space between images */
}
.questWrap{
    margin-top: 25vh;
    color: white;
    text-align: center;
    font-size: 2vmax;
    letter-spacing: 2px;
}

.myhealthBar {
    position: absolute;
    top: 2vmax;
    left: calc(18% - 13vmax);
}

.myHp {
    color: white;
    position: absolute;
    font-size: 1.5vmax;
    top: 0vmax;
    left: -3vmax;
}

.myhealthBg {
    position: relative;
    height: 2vmax;
    width: 30vmax;
    background: black;
    left: calc(50% - 12vmax);
}

.myhealth {
    position: relative;
    top: calc(50% - 0.75vmax);
    left: calc(50% - 14.5vmax);
    background: #54eb54;
    height: 1.5vmax;
    max-width: 29.1vmax;
    width: 100%;
    transition: 1s ease-in-out;
}

.playerHp {
    position: absolute;
    top: 65%;
    left: -18vh;
}

.bg {
    background-color: #04AF71;
}

#question-text{
    margin: 0px;
}

.wordsWrap {
    margin-top: -5vh;
    color: white;
    text-align: center;
    font-size: 4vmax;
    letter-spacing: 5px;
}

.words {
    margin: 0px;
}

.time {
    position: absolute;
    right: 5vmax;
    top: 1vmax;
    color: white;
    font-size: 2vmax;
    left: calc(59% - 13vmax);
}

#theTime {
    color: yellow;
    position: relative;
}

#score {
    display: none;
    /*
    width: 15vmax;
    height: 20vmax;
    font-size: 2vmax;
    text-align: center;
    position: absolute;
    left: 2.5vmax;
    top: 15vmax;
    background: rgba(0, 0, 0, 0.5);
    
    border: 10px solid #86d9ff;
    border-radius: 25px;
    box-shadow: 0px 0px 50px #03A9F4;
    animation:colorchange 0.5s infinite alternate;*/
}

@keyframes colorchange {
    from {border-color: #ffffff;}
    to {border-color: #86d9ff;}
    }

.mycombo {
    position:absolute;
    color: white;
    width: 15vmax;
    font-size: 1.5vmax;
    /*border-bottom: 10px solid #86d9ff;*/
    /*margin-bottom: 5%;*/
    animation:colorchange 0.5s infinite alternate;
    left: calc(-26% - -28vmax);
    top: calc(74% - 28vmax);
}

.scoreEnd{
    position: absolute;
    color: white;
    width: 15vmax;
    font-size: 2vmax;
    height: 75%;
    right: calc(14% - -28vmax);
    top: calc(140% - 30vmax);
}

.myscore {
    position: absolute;
    color: white;
    width: 15vmax;
    font-size: 2vmax;
    height: 75%;
    left: calc(17% - -28vmax);
    top: calc(73% - 30vmax);
}

#updatescore {
    font-size: 4vmax;
}
